# 数据集介绍  

本次大赛的目的是预测一个人想签入到哪个地方。Facebook创建了一个人造的世界，10公里*10公里的一个区域。对于一个给定的坐标，你的任务是返回最有可能的地方的排名列表  

## 1数据集数据  

```
train_csv, test_csv
row_id: id of the check_in event 签到事件的id/索引
x y: coordiantes 坐标系
accuracy: location accuracy 定位准确度
time: timestamp 时间戳
place_id: id of the business. this is the target you are predicting   预测签到的位置 
```
## 2流程分析
- 2.1获取数据
- 2.2数据处理
    - 为了减少时间，缩小数据范围
        - 2<x<2.5   1.0<y<1.5
    - time处理成有意义的数据年月日时分秒 
    - 过滤签到次数少的地点
    - 整理特征值 x 目标值y
- 2.3数据集划分
- 2.4特征工程：标准化
- 2.5KNN算法预估流程
- 2.6模型选择与调优
- 2.7模型评估

## 2.1获取数据

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./FBlocation/train.csv")

In [4]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

## 2.2数据处理
### 2.2.1为了减少时间，缩小数据范围
- 数据处理
- 缩小数据范围
- 2<x<2.5   1.0<y<1.5

In [5]:
data = data.query("x < 2.5 & x > 2 & y < 1.5 & y > 1.0")
data.head()

      row_id       x       y  accuracy    time    place_id
112      112  2.2360  1.3655        66  623174  7663031065
180      180  2.2003  1.2541        65  610195  2358558474
367      367  2.4108  1.3213        74  579667  6644108708
874      874  2.0822  1.1973       320  143566  3229876087
1022    1022  2.0160  1.1659        65  207993  3244363975

### 2.2.2time处理成有意义的数据年月日时分秒
- 修改时间戳
- 添加合理的时间数据

In [22]:
data['time'].head()

112     623174
180     610195
367     579667
874     143566
1022    207993
Name: time, dtype: int64

In [23]:
# 处理时间戳成比较有意义的数据 单位为秒
time_value = pd.to_datetime(data['time'],unit='s')

In [26]:
# 带索引的一维数组
time_value.head()

112    1970-01-08 05:06:14
180    1970-01-08 01:29:55
367    1970-01-07 17:01:07
874    1970-01-02 15:52:46
1022   1970-01-03 09:46:33
Name: time, dtype: datetime64[ns]

In [28]:
time_value.index

Int64Index([     112,      180,      367,      874,     1022,     1045,
                1070,     1332,     1632,     2205,
            ...
            29113479, 29113817, 29114203, 29114281, 29114496, 29115112,
            29115204, 29115338, 29115464, 29117493],
           dtype='int64', length=83197)

In [7]:
time_value.values

array(['1970-01-08T05:06:14.000000000', '1970-01-08T01:29:55.000000000',
       '1970-01-07T17:01:07.000000000', ...,
       '1970-01-09T20:46:26.000000000', '1970-01-02T18:11:58.000000000',
       '1970-01-01T22:06:09.000000000'], dtype='datetime64[ns]')

In [8]:
## 转换成DatetimeIndex的格式，方便转换成星期几
date = pd.DatetimeIndex(time_value)
date

DatetimeIndex(['1970-01-08 05:06:14', '1970-01-08 01:29:55',
               '1970-01-07 17:01:07', '1970-01-02 15:52:46',
               '1970-01-03 09:46:33', '1970-01-06 19:49:38',
               '1970-01-06 13:33:24', '1970-01-02 22:49:55',
               '1970-01-04 14:30:10', '1970-01-07 16:57:44',
               ...
               '1970-01-02 09:24:50', '1970-01-01 10:29:34',
               '1970-01-09 11:38:46', '1970-01-02 03:42:14',
               '1970-01-04 22:02:44', '1970-01-09 08:31:25',
               '1970-01-07 12:29:49', '1970-01-09 20:46:26',
               '1970-01-02 18:11:58', '1970-01-01 22:06:09'],
              dtype='datetime64[ns]', name='time', length=83197, freq=None)

In [9]:
date.year

Int64Index([1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970,
            ...
            1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970],
           dtype='int64', name='time', length=83197)

In [10]:
date.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='time', length=83197)

In [11]:
# 获取的时间年都是1970年，以及都是一月份，并不是有意义的数据
# 获取时间数据转换成星期数据，小时数据, 以及天数据
date.weekday

Int64Index([3, 3, 2, 4, 5, 1, 1, 4, 6, 2,
            ...
            4, 3, 4, 4, 6, 4, 2, 4, 4, 3],
           dtype='int64', name='time', length=83197)

In [12]:
date.day

Int64Index([8, 8, 7, 2, 3, 6, 6, 2, 4, 7,
            ...
            2, 1, 9, 2, 4, 9, 7, 9, 2, 1],
           dtype='int64', name='time', length=83197)

In [13]:
date.hour

Int64Index([ 5,  1, 17, 15,  9, 19, 13, 22, 14, 16,
            ...
             9, 10, 11,  3, 22,  8, 12, 20, 18, 22],
           dtype='int64', name='time', length=83197)

In [15]:
# 对原数据进行添加
data["day"] = date.day

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data["weekday"] = date.weekday

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
data["hour"] = date.hour

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
180      180  2.2003  1.2541        65  610195  2358558474    8        3     1
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9

### 2.2.3过滤签到次数少的地点
- 先统计下地点的签到数据
    - 不同的place_id被签到了几次
        - 用分组聚合
            - 返回groupby
    - 过滤掉签到次数小于三的

In [32]:
# 签到次数
data.groupby("place_id").count().head()

            row_id   x   y  accuracy  time  day  weekday  hour
place_id
1012165853       1   1   1         1     1    1        1     1
1013991737       3   3   3         3     3    3        3     3
1014605271      28  28  28        28    28   28       28    28
1015645743       4   4   4         4     4    4        4     4
1017236154      31  31  31        31    31   31       31    31

In [33]:
place_count = data.groupby("place_id").count()
place_count.head()

            row_id   x   y  accuracy  time  day  weekday  hour
place_id
1012165853       1   1   1         1     1    1        1     1
1013991737       3   3   3         3     3    3        3     3
1014605271      28  28  28        28    28   28       28    28
1015645743       4   4   4         4     4    4        4     4
1017236154      31  31  31        31    31   31       31    31

In [65]:
#每个点签到的次数
place_count_id = place_count["row_id"]

In [35]:
# 过滤掉签到次数小于3的
# 使用布尔索引
# 找到签到次数大于3的place_id
place_count_id[place_count_id>3].head()

place_id
1014605271    28
1015645743     4
1017236154    31
1024951487     5
1028119817     4
Name: row_id, dtype: int64

In [37]:
place_count_id[place_count_id>3].index

Int64Index([1014605271, 1015645743, 1017236154, 1024951487, 1028119817,
            1031277804, 1033901110, 1034200626, 1047804897, 1064433118,
            ...
            9897639927, 9904847340, 9913438709, 9929729717, 9935755425,
            9936666116, 9954155328, 9980625005, 9994257798, 9996671132],
           dtype='int64', name='place_id', length=950)

In [40]:
place_count_id[place_count_id>3].index.values

array([1014605271, 1015645743, 1017236154, 1024951487, 1028119817,
       1031277804, 1033901110, 1034200626, 1047804897, 1064433118,
       1077244172, 1082319594, 1113063429, 1136965912, 1140094746,
       1152474121, 1168869217, 1188605085, 1200418561, 1209729910,
       1214974606, 1219514528, 1224473281, 1237461560, 1254294119,
       1272823671, 1291402142, 1301102957, 1307723985, 1309512563,
       1314542379, 1321295503, 1326517230, 1327075245, 1339666015,
       1341745891, 1344594346, 1376204664, 1376745845, 1380291167,
       1385100836, 1395411566, 1397435709, 1425344847, 1430541006,
       1430872593, 1450678395, 1450922788, 1456201867, 1465048096,
       1465956877, 1470112415, 1479866897, 1481294899, 1496485145,
       1509463616, 1514759428, 1515664017, 1525784324, 1533408099,
       1536494374, 1540382716, 1553974810, 1564838354, 1577178217,
       1580704783, 1591245298, 1598721971, 1608186657, 1612001894,
       1644280884, 1653222405, 1656255553, 1658077953, 1663763627,
       1728965731, 1729169622, 1732563460, 1774462085, 1778906774,
       1779583116, 1782331806, 1804356958, 1804841714, 1808200839,
       1816256478, 1816297920, 1827155686, 1832821100, 1841689795,
       1851659536, 1853388867, 1876216216, 1893125756, 1898134338,
       1905620584, 1907932368, 1912601713, 1920165196, 1922247419,
       1925338880, 1935182397, 1949544719, 1971715162, 1972522398,
       1975319402, 1978598046, 1985125281, 2019786487, 2021324804,
       2049043795, 2063144012, 2070189162, 2074133146, 2074933811,
       2077754908, 2079334574, 2082127512, 2094012356, 2112291371,
       2118263613, 2128251934, 2137941546, 2142029481, 2143257457,
       2164082478, 2178744887, 2182064004, 2186466991, 2187764354,
       2189696929, 2209293971, 2215487099, 2225812517, 2227263906,
       2234759123, 2249890810, 2252960078, 2265547003, 2267927400,
       2284522844, 2285334931, 2296879735, 2336355755, 2337327232,
       2337680907, 2343525997, 2353037541, 2361723238, 2365554386,
       2367979052, 2390874820, 2399698286, 2402431155, 2418019536,
       2421942320, 2436295831, 2442573265, 2446061709, 2448856538,
       2467497959, 2469718610, 2471811203, 2490012408, 2494678001,
       2509270656, 2517696955, 2543504359, 2547202612, 2552774242,
       2571962720, 2579101997, 2585551753, 2589782008, 2598654991,
       2603478851, 2607294907, 2609133630, 2614390775, 2629738722,
       2678634106, 2696536813, 2701619073, 2703428730, 2721665730,
       2725217975, 2739683636, 2770565993, 2771234134, 2809108094,
       2833935167, 2841383164, 2852927300, 2855197353, 2859614555,
       2862182730, 2907690106, 2908755052, 2911888353, 2922682614,
       2935504324, 2953090005, 2973449762, 2983539791, 2998156180,
       3002774559, 3008083988, 3017445792, 3020291657, 3024205669,
       3028540811, 3040493418, 3047002443, 3054485805, 3061996897,
       3064869715, 3069630737, 3070110915, 3074081421, 3076556383,
       3079882839, 3085069313, 3086382532, 3098130329, 3102652148,
       3109132734, 3109294282, 3127147709, 3129827909, 3130287982,
       3135205757, 3140269934, 3157530019, 3159625666, 3163226764,
       3177384238, 3178442473, 3178785922, 3190058760, 3191658398,
       3196019344, 3200211486, 3218914434, 3229876087, 3239554580,
       3244363975, 3250088768, 3274022507, 3275384527, 3284527897,
       3284707339, 3295156450, 3297144794, 3299486624, 3311763279,
       3319589754, 3330035982, 3348890121, 3372644959, 3380753307,
       3383234785, 3399185620, 3400986350, 3411026024, 3418940381,
       3422562397, 3428712369, 3437922178, 3439753948, 3465711565,
       3469606315, 3472389804, 3479790549, 3505302090, 3506473632,
       3512061568, 3513732261, 3545381411, 3571001376, 3584688621,
       3588028567, 3596456849, 3601994721, 3614695108, 3617419118,
       3621522584, 3657826277, 3683690538, 3685505109, 3695846783,
       3708108530, 3716894098, 3720971101, 3726448464, 3740447345,
       3750280925, 3763725275, 3770354919, 3780913846, 3806579623,
       3818470689, 3828550150, 3849705667, 3862411642, 3885774737,
       3890745578, 3899542804, 3910675283, 3920358024, 3925693977,
       3944091515, 3948427562, 3953687520, 3957074867, 3973396876,
       3974542317, 3974879558, 3981920612, 3990227043, 3996582184,
       3997372701, 4011083602, 4020469575, 4028357018, 4033454985,
       4041053840, 4043708399, 4046838937, 4074168625, 4086821630,
       4110044452, 4115089395, 4130315759, 4135085103, 4136606730,
       4142372393, 4143194894, 4153178880, 4168031615, 4168344608,
       4179997917, 4182637650, 4205973840, 4208927963, 4231692509,
       4233534513, 4235083075, 4252917623, 4255947450, 4270403095,
       4279990043, 4280735325, 4300993639, 4305979959, 4312177364,
       4313071645, 4319030337, 4321343495, 4325915199, 4330659730,
       4336717042, 4338887860, 4342341757, 4352103532, 4355311753,
       4362372846, 4364266576, 4374582281, 4375197092, 4386750363,
       4411451674, 4435141062, 4453269982, 4465359515, 4466033869,
       4474172701, 4477046697, 4480126571, 4509077495, 4519537359,
       4537717910, 4540674401, 4568745791, 4588090734, 4588585980,
       4592873010, 4596764630, 4604987846, 4606837364, 4611031929,
       4616184605, 4626375496, 4628671813, 4637897379, 4642646293,
       4646500666, 4650375348, 4659529541, 4684865650, 4687359525,
       4690391147, 4691678575, 4712992402, 4729896908, 4743263462,
       4745011268, 4747728496, 4785379926, 4785459577, 4790376037,
       4826909476, 4827648144, 4851449266, 4858220593, 4861093827,
       4868301943, 4899905409, 4903903352, 4909747086, 4921814476,
       4923081565, 4932204178, 4942920006, 4951395211, 4958724870,
       4984046094, 5024378625, 5032873263, 5033348570, 5035626753,
       5048523503, 5063967094, 5070572655, 5103329101, 5108076746,
       5111412226, 5140020312, 5151728394, 5156008172, 5166481224,
       5168150158, 5174383951, 5175533342, 5201183823, 5205288357,
       5210119215, 5225258104, 5230843556, 5231167070, 5232128865,
       5241319741, 5249522175, 5256855055, 5263230464, 5271646232,
       5278769116, 5292545375, 5301169969, 5304570159, 5307188070,
       5313490064, 5334589752, 5335193549, 5347394174, 5365638185,
       5381959059, 5399802683, 5422010056, 5442484608, 5448001036,
       5463919377, 5470430723, 5484006387, 5518252170, 5529091830,
       5534405469, 5541564636, 5545192959, 5548649743, 5562621598,
       5575657508, 5600621154, 5600661085, 5602148455, 5617987948,
       5628219504, 5632997879, 5661461383, 5663422179, 5666273115,
       5675044797, 5675632737, 5677730000, 5681081996, 5698450527,
       5720855360, 5720905377, 5723607000, 5725334534, 5733965825,
       5750069581, 5753687259, 5759149180, 5781604363, 5787101027,
       5790926225, 5801995519, 5804926665, 5805133287, 5828455274,
       5830680661, 5846152236, 5851101680, 5880575182, 5886265369,
       5887940395, 5894825633, 5895261094, 5906186883, 5911282299,
       5911919827, 5922348998, 5927352177, 5927439597, 5940355445,
       5943393344, 5967730040, 5987080380, 5991509451, 5992403068,
       5994272829, 6009964550, 6010023939, 6035494832, 6054985864,
       6086844830, 6090644375, 6093897542, 6098188472, 6099835393,
       6137293102, 6171384989, 6171758350, 6173243423, 6204570778,
       6215057357, 6220616924, 6237820588, 6246622940, 6281129257,
       6282451574, 6293863303, 6325689868, 6351740191, 6358870572,
       6362865773, 6389656261, 6396456065, 6396652784, 6409650791,
       6412642774, 6425377835, 6434867192, 6436004735, 6438240873,
       6466855273, 6472715293, 6474510758, 6492209794, 6492595846,
       6505686905, 6508719641, 6523393631, 6544050598, 6563939569,
       6586498320, 6603051644, 6603241131, 6603334577, 6607183169,
       6635710657, 6640228998, 6644108708, 6668865877, 6676797724,
       6678141805, 6691588909, 6695565896, 6706708436, 6707546857,
       6709409787, 6724069809, 6743286931, 6744826890, 6760801071,
       6781827422, 6784598378, 6787040850, 6792824264, 6796340133,
       6806245681, 6807855511, 6815757076, 6821736606, 6826275134,
       6828787147, 6832517871, 6840596147, 6854303457, 6861039185,
       6873618335, 6896906036, 6906896116, 6906932765, 6929893314,
       6933719947, 6936126097, 6936999642, 6940115252, 6946923989,
       6948240353, 6958981337, 6977124218, 6977661807, 6987169047,
       7004204555, 7013193650, 7021063988, 7021663947, 7038685199,
       7045241279, 7075009705, 7086049158, 7091834657, 7097086698,
       7098931703, 7101912369, 7102003628, 7102786166, 7106739655,
       7119605651, 7122749204, 7129141602, 7164783554, 7175511695,
       7187928007, 7199420770, 7199742742, 7206831940, 7230752373,
       7231372582, 7240847236, 7251570583, 7259555507, 7260420984,
       7271890354, 7278590122, 7283077700, 7290620574, 7307880590,
       7312165178, 7312457461, 7321027492, 7323905251, 7336437364,
       7351908699, 7388522959, 7394650784, 7396159924, 7401539301,
       7406674639, 7422349449, 7444820426, 7446864418, 7463831010,
       7475986367, 7488300618, 7503509440, 7506114387, 7516501787,
       7518431751, 7547051259, 7577024623, 7583845844, 7588940374,
       7600299291, 7601718012, 7605688218, 7623892973, 7637611146,
       7641853115, 7644714882, 7652380351, 7663031065, 7671042055,
       7691564786, 7694823885, 7698840696, 7706750031, 7732742644,
       7736616367, 7743817329, 7749287599, 7753303265, 7754306468,
       7758967501, 7778288534, 7788479474, 7789869701, 7810150060,
       7824785536, 7829825858, 7834777560, 7849151474, 7858349652,
       7871954785, 7881325998, 7893158634, 7896098190, 7897512793,
       7900103077, 7908228637, 7920779710, 7924582970, 7929669489,
       7930512621, 7942373049, 7954125509, 7958850057, 7968049891,
       8010452641, 8012439510, 8032468532, 8051485477, 8053972671,
       8066054138, 8072176981, 8074414179, 8076001163, 8087986750,
       8095297494, 8098311768, 8099882727, 8103343544, 8106965613,
       8116017482, 8126951608, 8136393692, 8136471735, 8150384369,
       8156816094, 8158973166, 8207498185, 8220325694, 8232500214,
       8238808750, 8258289243, 8266187584, 8266588250, 8286292454,
       8312320519, 8325943786, 8330394035, 8334082176, 8344438103,
       8349127254, 8379994288, 8384035465, 8393706174, 8393968110,
       8396039622, 8398625073, 8415851335, 8416509869, 8426896578,
       8490830231, 8491961915, 8494434762, 8505496580, 8506362988,
       8517315303, 8524277388, 8525624794, 8568187002, 8580923167,
       8584340107, 8591018712, 8595964406, 8601126344, 8630350557,
       8632201887, 8635090679, 8644581555, 8648795085, 8651518182,
       8653170713, 8655245424, 8663805781, 8665729180, 8670584806,
       8671246084, 8677621908, 8679966649, 8687427396, 8687844587,
       8710295202, 8711845565, 8712075001, 8720473009, 8725643775,
       8734074997, 8783929518, 8790355618, 8795513764, 8795956344,
       8811306760, 8812115701, 8829076565, 8831215876, 8833193339,
       8841908386, 8855524093, 8862329731, 8884327801, 8904074677,
       8904900131, 8923507937, 8923755712, 8936085695, 8940024726,
       8948525751, 8966139503, 8966637137, 8968348841, 8972450409,
       9003284780, 9017925094, 9028649284, 9046997965, 9060493227,
       9060931313, 9063028753, 9067638706, 9077695048, 9081742495,
       9083536463, 9110155624, 9131412124, 9144333839, 9185047092,
       9198458885, 9205242790, 9215150141, 9230765433, 9243748395,
       9248210115, 9254334334, 9262433179, 9278137669, 9287636718,
       9290415513, 9298467682, 9302738671, 9303466586, 9309341993,
       9325599141, 9327341696, 9328674038, 9333530674, 9342460220,
       9346991997, 9348286122, 9351469921, 9356222555, 9364592521,
       9365003624, 9373984994, 9380007667, 9383906351, 9386144778,
       9388356666, 9397045358, 9434098736, 9434111026, 9434703503,
       9474162554, 9487489239, 9491838696, 9496466179, 9496768941,
       9510780562, 9512310615, 9520169143, 9521984363, 9536397570,
       9546022315, 9571332469, 9573801864, 9602339655, 9605243128,
       9611452503, 9615994461, 9617244307, 9622620270, 9639680342,
       9649308625, 9651995945, 9657333059, 9658055450, 9659178432,
       9664549861, 9669197376, 9695411083, 9700386405, 9704430721,
       9710325442, 9745175640, 9756750564, 9757544444, 9759119917,
       9764078387, 9765566432, 9773056775, 9778673479, 9779526392,
       9779595137, 9787150114, 9793752815, 9817378802, 9817571734,
       9824924162, 9841635233, 9846189806, 9848489870, 9853786982,
       9864168878, 9864693439, 9877150135, 9877176124, 9890631008,
       9897639927, 9904847340, 9913438709, 9929729717, 9935755425,
       9936666116, 9954155328, 9980625005, 9994257798, 9996671132], dtype=int64)

In [47]:
# 过滤data
data["place_id"].isin(place_count_id[place_count_id>3].index).head()

112      True
180     False
367      True
874      True
1022     True
Name: place_id, dtype: bool

In [66]:
# 在做一个对data的索引
data_final = data[data["place_id"].isin(place_count_id[place_count_id>3].index.values)]
data_final.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9
1045    1045  2.3859  1.1660       498  503378  6438240873    6        1    19

### 2.2.4删选特征值和目标值

In [50]:
# 删选特征值和目标值
x = data_final[["x","y","accuracy","day","weekday","hour"]]
y = data_final["place_id"]

In [51]:
x.head()

           x       y  accuracy  day  weekday  hour
112   2.2360  1.3655        66    8        3     5
367   2.4108  1.3213        74    7        2    17
874   2.0822  1.1973       320    2        4    15
1022  2.0160  1.1659        65    3        5     9
1045  2.3859  1.1660       498    6        1    19

In [52]:
y.head()

112     7663031065
367     6644108708
874     3229876087
1022    3244363975
1045    6438240873
Name: place_id, dtype: int64

## 2.3数据集划分

In [53]:
# 数据集划分
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [55]:
x_train.head()

               x       y  accuracy  day  weekday  hour
1791108   2.4012  1.2926        37    8        3    17
1161980   2.3460  1.3527        75    7        2    11
23525554  2.1879  1.3039        59    8        3    10
34936     2.0997  1.4483       156    5        0     6
3850342   2.2383  1.4558         1    5        0    13

In [56]:
x_test.head()

               x       y  accuracy  day  weekday  hour
13301191  2.2185  1.1027        65    6        1    12
24391480  2.2658  1.2848       176    5        0    15
25971566  2.2185  1.1307        64    8        3    22
15717230  2.0873  1.1134        71    2        4     8
7332302   2.0149  1.2324        59    1        3     1

In [57]:
y_train.head()

1791108     6854303457
1161980     2998156180
23525554    6854303457
34936       5628219504
3850342     9841635233
Name: place_id, dtype: int64

In [58]:
y_test.head()

13301191    6246622940
24391480    2343525997
25971566    2852927300
15717230    3047002443
7332302     2614390775
Name: place_id, dtype: int64

In [59]:
#特征工程 数据标准化
from sklearn.preprocessing import StandardScaler
#knn
from sklearn.neighbors import KNeighborsClassifier
#网格搜索与交叉验证
from sklearn.model_selection import GridSearchCV

## 2.4特征工程：数据标准化

In [60]:
# 特征工程：数据标准化
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

## 2.5KNN算法预估流程

In [61]:
# KNN算法预估器，因为要加入网格搜寻和交叉验证法，所以不需要添加k值
estimator = KNeighborsClassifier()

## 2.6模型选择与调优

In [62]:
# 加入网格搜索与交叉验证
# 参数准备 k值为字典格式
param_dict = {"n_neighbors": [3, 5, 7, 9]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)
estimator.fit(x_train, y_train)

D:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

GridSearchCV(cv=3, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [3, 5, 7, 9]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=0)

## 2.7模型评估

In [67]:
# 模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

# 最佳参数：best_params_
print("最佳参数：\n", estimator.best_params_)
# 最佳结果：best_score_
print("最佳结果：\n", estimator.best_score_)
# 最佳估计器：best_estimator_
print("最佳估计器:\n", estimator.best_estimator_)
# 交叉验证结果：cv_results_
print("交叉验证结果:\n", estimator.cv_results_)

y_predict:
 [1732563460 2343525997 1732563460 ..., 7240847236 8032468532 2082127512]
直接比对真实值和预测值:
 13301191    False
24391480     True
25971566    False
15717230     True
7332302     False
4644954     False
28651221    False
3504524     False
21584914    False
18499738    False
7935099      True
23158509     True
19261211    False
8995507     False
12944807     True
9274157     False
17312603     True
7192194      True
26769063    False
15710138    False
2193602      True
24233630    False
18735907     True
26496950    False
8524566     False
26260767    False
14329301    False
10900165    False
5161754      True
2148218     False
            ...
23620675    False
16396920     True
1075158      True
23831983    False
27971229    False
14548808     True
22529229    False
2713818     False
1668055     False
14226470     True
2762424     False
26317191    False
27426896    False
672209      False
12610947     True
19021551    False
4735342      True
13307855    False
8992229      True
28715259    False
16243412    False
3775836      True
4852989      True
19954300    False
27111140     True
25581012    False
26812827     True
28759443     True
27080111    False
14158684    False
Name: place_id, Length: 20228, dtype: bool
准确率为：
 0.366422780305
最佳参数：
 {'n_neighbors': 5}
最佳结果：
 0.335124089516
最佳估计器:
 KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')
交叉验证结果:
 {'mean_fit_time': array([ 0.06947263,  0.08509485,  0.07946404,  0.08552821]), 'std_fit_time': array([ 0.00048104,  0.00555434,  0.00170416,  0.00217618]), 'mean_score_time': array([ 1.01663327,  1.3527809 ,  1.62155549,  1.83632414]), 'std_score_time': array([ 0.01084846,  0.11902177,  0.08063262,  0.04798148]), 'param_n_neighbors': masked_array(data = [3 5 7 9],
             mask = [False False False False],
       fill_value = ?)
, 'params': [{'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([ 0.31869523,  0.33281402,  0.33081792,  0.32434275]), 'split1_test_score': array([ 0.32514094,  0.33453664,  0.33231134,  0.33132232]), 'split2_test_score': array([ 0.32359438,  0.33810241,  0.3373494 ,  0.33659639]), 'mean_test_score': array([ 0.32245147,  0.33512409,  0.33345968,  0.33069114]), 'std_test_score': array([ 0.00275954,  0.00219845,  0.00278718,  0.00502213]), 'rank_test_score': array([4, 1, 2, 3]), 'split0_train_score': array([ 0.59254646,  0.52740272,  0.48839121,  0.45904539]), 'split1_train_score': array([ 0.59033613,  0.52296095,  0.48348987,  0.4551656 ]), 'split2_train_score': array([ 0.58861194,  0.52073009,  0.48179677,  0.45390315]), 'mean_train_score': array([ 0.59049818,  0.52369792,  0.48455928,  0.45603804]), 'std_train_score': array([ 0.00161034,  0.00277349,  0.00279635,  0.00218808])}