# 决策树，随机森林
# 数据集介绍
- 在泰坦尼克号和titanic2数据集描述泰坦尼克号上的个别乘客的生存状况
## 数据集数据
- 数据集中特征是票的类别，存活，乘坐班，年龄，登录，目的地，房间，票，船，性别
- pclass乘坐班是指乘客班(1,2,3)，是社会经济阶层的代表
- 其中age数据存在缺失
## 流程分析
- 获取数据
- 数据处理
    - 缺失值处理
    - 特征类别转换成字典类型，方便之后一起转换成one-hot编码
    - 准备好特征值，目标值
- 划分数据集
- 特征工程:字典特征抽取 不需要做标准化
- 决策树预估器流程
- 模型评估

### 获取数据

In [50]:
import pandas as pd
titanic = pd.read_csv("./titanic.csv")
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

### 数据处理
- 缺失值处理
- 特征类别转换成字典类型，方便之后一起转换成one-hot编码
- 准备好特征值，目标值

In [51]:
# 删选数据
# 特征值
x = titanic[["pclass","age","sex"]]
# 目标值
y = titanic["survived"]

In [52]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [53]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [54]:
# 缺失值处理 填补age缺失值
# 先索引
x["age"].fillna(x["age"].mean(),inplace=True)

D:\anaconda\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [55]:
# 转换成字典
x = x.to_dict(orient="records")

### 划分数据集

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

### 特征工程:字典特征抽取 不需要做标准化

In [68]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier,export_graphviz
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

### 决策树预估器流程

In [72]:
# 决策树预估器
from sklearn.tree import DecisionTreeClassifier
estimator = DecisionTreeClassifier(criterion="entropy", max_depth=8)
estimator.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

### 模型评估

In [74]:
# 模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)
# 可视化决策树
export_graphviz(estimator, out_file="tianic.dot", feature_names=transfer.get_feature_names())

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
直接比对真实值和预测值:
 831      True
261      True
1210     True
1155     True
255      True
762      True
615      True
507      True
1175     True
301      True
1134     True
177     False
183     False
125     False
1093     True
1304    False
1124     True
798     False
1101     True
1239    False
1153     True
1068    False
846      True
148      True
478      True
642      True
1298     True
540      True
28       True
130      True
        ...
194      True
663      True
1209     True
117     False
595     False
1151    False
1143     True
1216     True
874      True
246      True
160      True
1208     True
682      True
307      True
67       True
961      True
400      True
923     False
866      True
134      True
613      True
242      True
320     False
829      True
94       True
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率为：
 0.781155015198

### 随机森林对泰坦尼克号乘号生存进行预测

In [77]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
estimator = RandomForestClassifier()

# 加入网格搜索和交叉验证
## 参数准备 k值 字典的格式
param_dict = {"n_estimators":[120,200,300,500,800,1200],"max_depth":[5,8,15,25,30]}
estimator = GridSearchCV(estimator,param_grid=param_dict,cv=3)
estimator.fit(x_train,y_train)
# 模型评估
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("对比真实值和预测值：", y_predict == y_test )
score = estimator.score(x_test,y_test)
print("准确率：\n",score)
# 最佳参数: best_params_
print("最佳参数：",estimator.best_params_)
# 最佳结果: best_score_
# 此最佳结果是训练集中验证集当中的结果
print("最佳结果",estimator.best_score_)
# 最佳估计器: best_estimator_
#print("最佳估计器",estimator.best_estimator_)
# 交叉验证结果: cv_results_
print("交叉验证结果",estimator.cv_results_)

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
对比真实值和预测值： 831      True
261      True
1210     True
1155     True
255      True
762      True
615      True
507      True
1175     True
301      True
1134     True
177      True
183     False
125     False
1093     True
1304    False
1124     True
798     False
1101     True
1239    False
1153     True
1068    False
846      True
148      True
478      True
642      True
1298     True
540      True
28       True
130      True
        ...
194      True
663      True
1209     True
117     False
595     False
1151    False
1143     True
1216     True
874      True
246      True
160      True
1208     True
682      True
307      True
67       True
961      True
400      True
923     False
866      True
134      True
613      True
242      True
320     False
829      True
94       True
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率：
 0.787234042553
最佳参数： {'max_depth': 5, 'n_estimators': 120}
最佳结果 0.835365853659
交叉验证结果 {'mean_fit_time': array([ 0.19082808,  0.33509199,  0.52892915,  0.90247599,  1.4132839 ,
        2.32291245,  0.24089996,  0.38921674,  0.57447004,  0.97744274,
        1.43262911,  2.16218837,  0.22207443,  0.36867515,  0.53356075,
        0.97572144,  1.51563843,  2.1575404 ,  0.2041316 ,  0.38497718,
        0.58576322,  0.96939762,  1.55482928,  2.17948945,  0.21308215,
        0.37797594,  0.51763749,  0.86868906,  1.44578616,  2.30584947]), 'std_fit_time': array([ 0.00758748,  0.01150203,  0.00416966,  0.16835097,  0.14643446,
        0.07408083,  0.01699439,  0.01660035,  0.01533715,  0.05622635,
        0.06633513,  0.05194308,  0.00892461,  0.01325915,  0.02154937,
        0.04360005,  0.06108468,  0.0540873 ,  0.00963973,  0.01057505,
        0.03112899,  0.03609066,  0.05421079,  0.05692292,  0.00664117,
        0.01999362,  0.01603854,  0.04772913,  0.01698634,  0.04572124]), 'mean_score_time': array([ 0.01395329,  0.02360884,  0.04156176,  0.05537144,  0.10938629,
        0.1599249 ,  0.01463898,  0.02425392,  0.03057313,  0.06282576,
        0.08239619,  0.13131642,  0.01296878,  0.02060771,  0.03525019,
        0.05552093,  0.0754594 ,  0.11370818,  0.01328023,  0.02160207,
        0.03157687,  0.06150945,  0.08444214,  0.11867738,  0.01298197,
        0.02160962,  0.03355742,  0.04621275,  0.07878741,  0.11900576]), 'std_score_time': array([ 0.00079485,  0.00517974,  0.01727877,  0.0138731 ,  0.03273158,
        0.01816959,  0.00259769,  0.00284277,  0.00092807,  0.00917778,
        0.00162639,  0.01553839,  0.0008179 ,  0.00188515,  0.00531317,
        0.00590044,  0.00264053,  0.0028076 ,  0.00189201,  0.00206447,
        0.00284942,  0.00900663,  0.00235213,  0.00776213,  0.00081401,
        0.00448237,  0.00542417,  0.00190044,  0.00431514,  0.0012092 ]), 'param_max_depth': masked_array(data = [5 5 5 5 5 5 8 8 8 8 8 8 15 15 15 15 15 15 25 25 25 25 25 25 30 30 30 30 30
 30],
             mask = [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False],
       fill_value = ?)
, 'param_n_estimators': masked_array(data = [120 200 300 500 800 1200 120 200 300 500 800 1200 120 200 300 500 800 1200
 120 200 300 500 800 1200 120 200 300 500 800 1200],
             mask = [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False],
       fill_value = ?)
, 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([ 0.82674772,  0.82370821,  0.82370821,  0.82370821,  0.82674772,
        0.82674772,  0.81155015,  0.81155015,  0.80243161,  0.80243161,
        0.81155015,  0.80243161,  0.7993921 ,  0.79027356,  0.80243161,
        0.79331307,  0.79635258,  0.79331307,  0.79331307,  0.79027356,
        0.79027356,  0.79027356,  0.79027356,  0.79027356,  0.79027356,
        0.79331307,  0.79331307,  0.7993921 ,  0.79027356,  0.79027356]), 'split1_test_score': array([ 0.85670732,  0.85670732,  0.85365854,  0.85670732,  0.85365854,
        0.85670732,  0.85365854,  0.85060976,  0.85670732,  0.85365854,
        0.85060976,  0.85060976,  0.85670732,  0.85670732,  0.85365854,
        0.85670732,  0.85365854,  0.85670732,  0.8445122 ,  0.85365854,
        0.85365854,  0.85365854,  0.85365854,  0.85365854,  0.85365854,
        0.85365854,  0.8597561 ,  0.85670732,  0.85670732,  0.85670732]), 'split2_test_score': array([ 0.82262997,  0.82262997,  0.82262997,  0.82568807,  0.82568807,
        0.82262997,  0.80122324,  0.80428135,  0.80122324,  0.80122324,
        0.80122324,  0.80122324,  0.80733945,  0.80122324,  0.79816514,
        0.80428135,  0.80428135,  0.80428135,  0.80122324,  0.79510703,
        0.80122324,  0.80122324,  0.80122324,  0.80122324,  0.80122324,
        0.80733945,  0.79816514,  0.80428135,  0.80428135,  0.80122324]), 'mean_test_score': array([ 0.83536585,  0.83434959,  0.83333333,  0.83536585,  0.83536585,
        0.83536585,  0.82215447,  0.82215447,  0.82012195,  0.81910569,
        0.82113821,  0.81808943,  0.82113821,  0.81605691,  0.81808943,
        0.81808943,  0.81808943,  0.81808943,  0.81300813,  0.81300813,
        0.81504065,  0.81504065,  0.81504065,  0.81504065,  0.81504065,
        0.81808943,  0.81707317,  0.82012195,  0.81707317,  0.81605691]), 'std_test_score': array([ 0.01518404,  0.01581542,  0.01437883,  0.01511232,  0.01294211,
        0.01518404,  0.02267217,  0.02033857,  0.02587446,  0.02443753,
        0.0212617 ,  0.02300063,  0.02535956,  0.02908969,  0.02521139,
        0.02767166,  0.02535859,  0.02767166,  0.02250959,  0.02881183,
        0.02767044,  0.02767044,  0.02767044,  0.02767044,  0.02767044,
        0.02579477,  0.03024632,  0.02594665,  0.02860307,  0.02908969]), 'rank_test_score': array([ 1,  5,  6,  1,  1,  1,  7,  7, 11, 13,  9, 14,  9, 22, 14, 14, 14,
       14, 29, 29, 24, 24, 24, 24, 24, 14, 20, 11, 20, 22]), 'split0_train_score': array([ 0.85801527,  0.85801527,  0.85801527,  0.85801527,  0.85648855,
        0.85648855,  0.87633588,  0.87480916,  0.87633588,  0.87633588,
        0.87480916,  0.87633588,  0.88244275,  0.88244275,  0.88244275,
        0.88244275,  0.88244275,  0.88244275,  0.88244275,  0.88244275,
        0.88244275,  0.88244275,  0.88244275,  0.88244275,  0.88244275,
        0.88244275,  0.88244275,  0.88244275,  0.88244275,  0.88244275]), 'split1_train_score': array([ 0.8445122 ,  0.84756098,  0.84908537,  0.84756098,  0.84908537,
        0.84908537,  0.86128049,  0.86128049,  0.86128049,  0.86128049,
        0.86128049,  0.86128049,  0.86128049,  0.86128049,  0.86128049,
        0.86128049,  0.86128049,  0.86128049,  0.86128049,  0.86128049,
        0.86128049,  0.86128049,  0.86128049,  0.86128049,  0.86128049,
        0.86128049,  0.86128049,  0.86128049,  0.86128049,  0.86128049]), 'split2_train_score': array([ 0.86757991,  0.87062405,  0.86757991,  0.86910198,  0.86910198,
        0.86757991,  0.88736682,  0.88432268,  0.88584475,  0.88584475,
        0.88584475,  0.88584475,  0.88736682,  0.88736682,  0.88736682,
        0.88736682,  0.88736682,  0.88736682,  0.88736682,  0.88736682,
        0.88736682,  0.88736682,  0.88736682,  0.88736682,  0.88736682,
        0.88736682,  0.88736682,  0.88736682,  0.88736682,  0.88736682]), 'mean_train_score': array([ 0.85670246,  0.85873343,  0.85822685,  0.85822607,  0.8582253 ,
        0.85771794,  0.87499439,  0.87347078,  0.87448704,  0.87448704,
        0.87397813,  0.87448704,  0.87703002,  0.87703002,  0.87703002,
        0.87703002,  0.87703002,  0.87703002,  0.87703002,  0.87703002,
        0.87703002,  0.87703002,  0.87703002,  0.87703002,  0.87703002,
        0.87703002,  0.87703002,  0.87703002,  0.87703002,  0.87703002]), 'std_train_score': array([ 0.009463  ,  0.00942914,  0.00755185,  0.00879534,  0.00826351,
        0.00760024,  0.01069186,  0.00945442,  0.01011317,  0.01011317,
        0.01004552,  0.01011317,  0.01131658,  0.01131658,  0.01131658,
        0.01131658,  0.01131658,  0.01131658,  0.01131658,  0.01131658,
        0.01131658,  0.01131658,  0.01131658,  0.01131658,  0.01131658,
        0.01131658,  0.01131658,  0.01131658,  0.01131658,  0.01131658])}